<%= form_for(@bike_event, url: bike_events_path, method: :post, role:"form") do |f| %>

  <%= render "partials/bike_events_errors" %>
  <div>
    <%= f.label :event_kind %><br>
    <%= f.check_box :event_kind %> Accident<br>
    <%= f.check_box :event_kind %> Road Hazard<br>
    <%= f.check_box :event_kind %> Other<br>
  </div>

   <div>
    <%= f.label :incident_date %>
    <%= f.date_select :occurred_at %><br>
  </div>

  <div>
    <%= f.label :details%>
    <%= f.text_area :details %>
  </div>

  <div>
    <%= f.label :image, "Attach an Image" %><br />
    <%= f.file_field :image_url %>
  </div>

  <div>
   <%= f.hidden_field :user_id, value: current_user.id%>
   <%= f.hidden_field :latitude, value: 39.7392%>
    <%= f.hidden_field :longitude, value: -104.9903 %>
    <%= f.submit "Report", class: "remove btn btn-primary" %>
  </div>
<% end %>
