<div class="tool-tip">
  <p> <%= bike_event.user.username %> reports:
  <div class="event-kind"><%= bike_event.event_kind %></div>  on 
  <%= bike_event.date %> @
  <%= bike_event.time %>

  <div>
    Details: <%= bike_event.details %> </p>
  </div>

  <p><%= image_tag bike_event.avatar_url(:thumb).to_s %></p>
  <% if current_user && current_user.id == bike_event.user_id %>
  <div class="bye">
    <%=link_to "Remove marker", bike_event_path(bike_event.id) %>
  </div>
  <% end %>
</div>
