<div class="tool-tip">
  <p> <%= bike_event.user.username %> reports: <br>
  <%= bike_event.event_kind %> on 
  <%= bike_event.date %> @
  <%= bike_event.time %></p>
  <p> Details: <%= bike_event.details %> </p>

  <div class="bye">
    <%=link_to "Remove marker", bike_event_path(bike_event.id) %>
  </div>

</div>