  <div class="row">
    <div class="col-sm-12 center" >
    <div class="col-sm-4" >
    <div class="form">
      <%= form_for(:session, url: login_path) do |f| %>
        
          <%= f.text_field :email,  placeholder: 'email', class: "form-control" %><br>

          <%= f.password_field :password,  placeholder: 'password', class: "form-control" %><br>
        <%= f.submit "Login", class: 'btn btn-primary navbar_style nav-link'%>
      <% end %>
      </div>
      <span class="black-text">Not yet a member? <%= link_to "Click here to create an account", new_user_path %></span>
    </div>
  </div>
</div>