<div class="col-xs-6">
    <div class="form">
      <h1>Join Our Riders!</h1>

        <%= form_for(:user, url: users_path, method: :post, role:"form") do |f| %>

        <%#= render "partials/user_errors" %>

        <%= f.label :username %>
        <%= f.text_field :username, class: "form-control"%><br>

        <div>
          <%= f.label :password%>
          <%= f.text_field :password %>
        </div>

        <div>
          <%= f.label :email%>
          <%= f.text_field :email %>
        </div>

        <div>
          <%= f.label :twitter_nickname%>
          <%= f.text_field :twitter_nickname %>
        </div>

        <div>
          <%= f.label :image, "Attach an Image" %><br />
          <%= f.file_field :image %>
        </div>

          <div>
            <%= f.submit "Submit", class: "btn btn-primary" %>
          </div>
        <% end %>
    </div>  
</div>`