<div class="container">
<div class="col-md-6">
  <div class="form-area">  
      <form role="form">

      <h1 class="extra-cushion">Join Our Riders!</h1>

        <%= form_for(@user, url: users_path, method: :post, role:"form") do |f| %>
          <%= render "partials/user_errors" %>

          <div class="col-md-12">
            <%= f.label :username %>
            <%= f.text_field :username, autofocus: true, class: "form-control"%>
          </div>  

          <div class="col-md-6">
            <%= f.label :password%>
            <%= f.password_field  :password, class: "form-control" %>
          </div>

          <div class="col-md-6">
            <%= f.label :password_confirmation%>
            <%= f.password_field  :password_confirmation, class: "form-control" %>
          </div>

          <div class="col-md-12">
            <%= f.label :email%>
            <%= f.text_field :email, class: "form-control" %>
          </div>

          <div class="col-md-12">
            <%= f.label :twitter_nickname%>
            <%= f.text_field :nickname, class: "form-control" %>
          </div>

          <div class="col-md-12">
            <br><%= f.submit "Create Account", class: "btn btn-primary" %>
          </div>
        <% end %>

        <span class="black-text">Already have an account? <%= link_to "Click here to login", login_path %>
        </span>
        </form>
      </div>
    </div> 

    <div class="col-xs-5">
      <span class="border-shadow">
         <%= image_tag("bicycle-accident_sm.jpg")%>
      </span> 
    </div>
  <!-- </div>  -->
</div>`
