<!DOCTYPE html>
<html>
<head>
  <title>RideSmart</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag "//maps.googleapis.com/maps/api/js?v=3.22&key=#{ENV['GOOGLE_API_KEY']}" %>

  <%= csrf_meta_tags %>
  <% if current_user %>
  <script>
    window.current_user = <%= current_user.attributes.slice("email").to_json.html_safe %>;
  </script>
  <% end %>
</head>


<body class="<%= @body_class %>">
  <%= render 'partials/navbar_v2' %>
  <%= render 'partials/flash_messages' %>

  <%= yield %>

</body>

</html>