<!DOCTYPE html>
<html>
<head>
  <title>RideSmart</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>

<%= render 'partials/navbar' %>
<%= render 'partials/flash_messages' %>
<body>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
