<!DOCTYPE html>
<html>
<head>
  <title>RideSmart</title>
  <script src="https://maps.googleapis.com/maps/api/js?sensor=true&libraries=places"></script>
  <script type="text/javascript" src="google_map.js"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>

<%= render 'partials/navbar' %>
<%= render 'partials/flash_messages' %>
<body>

<div>
  <%= yield %>
</div>

</body>
</html>
